<div [formGroup]="form.get('user')">
  <!-- Username Input -->
  <nz-form-item>
    <nz-form-label nzSpan="24" nzFor="">Username</nz-form-label>
    <nz-form-control nzSpan="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
      <input nzSize="large" formControlName="username" nz-input name="username" type="text" id="username" autocomplete="off">
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          Username must be 3 to 20 characters and numbers only!
        </ng-container>
        <ng-container *ngIf="control.hasError('usernameExists')">
          The username already exists!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Password Input -->
  <nz-form-item>
    <nz-form-label nzSpan="24" nzFor="password">Password</nz-form-label>
    <nz-form-control nzSpan="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="passwordErrorTpl">
      <input nzSize="large" formControlName="password" nz-input name="password" type="password" id="password">
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Password must be atleast 8 characters!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Password Confirm Input -->
  <nz-form-item>
    <nz-form-label nzSpan="24" nzFor="passwordConfirm">Confirm Password</nz-form-label>
    <nz-form-control nzSpan="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="passwordConfirmErrorTpl">
      <input nzSize="large" formControlName="passwordConfirm" nz-input name="passwordConfirm" type="password" id="passwordConfirm">
      <ng-template #passwordConfirmErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Password must be atleast 8 characters!
        </ng-container>
        <ng-container *ngIf="control.hasError('mustMatch')">
          Confirmation password must match password!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</div>
