<div>
  <nz-page-header nzBackIcon>
    <nz-page-header-title>Manage Stockrooms</nz-page-header-title>
    <nz-page-header-subtitle></nz-page-header-subtitle>
    <nz-page-header-content>
      <nz-row nzType="flex">
        <!-- @@@ TODO Change valule color to primary???-->
        <nz-statistic nzTitle="Stockrooms" [nzValue]="stockroomSummaryTotals.stockroomCount"></nz-statistic>
        <nz-statistic nzTitle="Items" [nzValue]="stockroomSummaryTotals.itemCount" style="margin: 0 32px"></nz-statistic>
        <nz-statistic nzTitle="Listed" [nzValue]="stockroomSummaryTotals.listedCount" style="margin: 0 32px"></nz-statistic>
        <nz-statistic nzTitle="Unlisted" [nzValue]="(stockroomSummaryTotals.itemCount - stockroomSummaryTotals.listedCount)" style="margin: 0 32px"></nz-statistic>
        <nz-statistic nzTitle="Cost" [nzValue]="stockroomSummaryTotals.purchaseValue | currency"></nz-statistic>
      </nz-row>
    </nz-page-header-content>
  </nz-page-header>
  <div class="stockroom-summaries">
    <div class="stockroom-summaries-filter">
      <a class="btn-new-stockroom" (click)="showCreateStockroomModal()" nz-button nzType="primary">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        Create Stockroom
      </a>
      <a class="btn-reload" nz-button (click)="onReloadStockroomSummaries()">
        <i nz-icon nzType="reload" nzTheme="outline"></i>
      </a>
    </div>
    <inv-stockrooms-table 
        [summaries]="(stockroomSummaries$ | async)"
        (onDeleteStockroom)="onDeleteStockroom($event)"
        (onEditStockroom)="onEditStockroom($event)">
    </inv-stockrooms-table>
  </div>
</div>