<form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <!-- Stockroom Name and Description -->
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <input type="hidden" formControlName="id" />
        <nz-form-label [nzSpan]="5" nzRequired>Name</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="Stockroom name is require">
          
          <input nz-input formControlName="name" placeholder="The stockroom name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired>Description</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="Stockroom description is required">
          <input nz-input formControlName="description" placeholder="The stockroom description" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzOffset]="5">
          <label nz-checkbox
              formControlName="hasStockroomLocations"
              (change)="onAddStockroomLocationsChange($event)" 
              (click)="onAddStockroomLocationsChange($event)">
            Add Stockroom Locations
          </label>
        </nz-form-label>
      </nz-form-item>
    </div>
  </div>
  
  <!-- Stockroom Locations List -->
  <div ng-row>
    <div nz-col nzSpan="24">
      <ng-container *ngIf="form.value.hasStockroomLocations">
        <div *ngFor="let group of locations.controls; index as i">
          <nz-form-item [formGroup]="group">
            <input type="hidden" formControlName="id" />
            <nz-form-label [nzSpan]="5" *ngIf="i == 0" [nzFor]="group">Locations </nz-form-label>
            <nz-form-control [nzSpan]="19" [nzOffset]="i == 0 ? 0 : 5"
              nzErrorTip="Please enter a location name or delete this entry">
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="{{ 'Location (e.g Bin ' + (i + 1) + ')' }}" formControlName="description" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzSearch type="button" (click)="removeStockroomLocation(i)">
                  <i nz-icon nzType="minus-circle-o"></i>
                </button>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div> 
        <nz-form-item>
          <nz-form-control [nzOffset]="5">
            <button nz-button nzType="dashed" class="add-button" (click)="addStockroomLocation($event)" type="button">
              <i nz-icon nzType="plus"></i>
              Add Location 
            </button>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <nz-form-item>
        <nz-form-control [nzOffset]="5" [nzSpan]="19">
          <button nz-button nzType="primary">Save</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
