// Colors (these are also declared in theme.less for the ng zorro theme)
$primary-color: #756EEA;
$secondary-color: #25b5f5;
$success-color: #74BC16;
$info-color: #1EB7FF;
$warning-color: #FFE100;
$danger-color: #FF7451;

// Background
$background-transparent: transparent;
$background-primary: $primary-color;

// Spinner
$spinner-track-color: #f0ebff;
$spinner-color: $primary-color;
