<form [formGroup]="form" novalidate>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
      <nz-alert 
          *ngIf="(createStockItemResponseMessage$ | async)"
          [nzType]="(createStockItemResponseMessage$ | async).status" 
          [nzMessage]="(createStockItemResponseMessage$ | async).message" 
          nzShowIcon>
      </nz-alert>
      <div>
        <nz-steps 
            [nzCurrent]="currentStep" 
            nzLabelPlacement="vertical" 
            nzSize="small">
          <nz-step [nzTitle]="CreateStockItemStep.PRODUCT_ITEM | titlecase"></nz-step>
          <nz-step [nzTitle]="CreateStockItemStep.STOCK_ITEM | titlecase"></nz-step>
        </nz-steps>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
          <ng-container [ngSwitch]="step">
            <div *ngSwitchCase="CreateStockItemStep.PRODUCT_ITEM">
              <inv-step-product-item></inv-step-product-item>
            </div>
            <div *ngSwitchCase="CreateStockItemStep.STOCK_ITEM">
              <inv-step-stock-item></inv-step-stock-item>
            </div>
          </ng-container>
        </form>
      </div>
      <!-- <inv-shared-stockroom-form></inv-shared-stockroom-form> -->
    </form>
  </div>
  <div *nzModalFooter>
    <button
        *ngIf="step === CreateStockItemStep.STOCK_ITEM"
        nz-button
        nzType="default"
        [disabled]="form.get('productItem').invalid"
        (click)="prev()">
      <i nz-icon nzType="left" nzTheme="outline"></i> Back
    </button>
    <button
        *ngIf="step === CreateStockItemStep.PRODUCT_ITEM"
        nz-button
        nzType="primary"
        [disabled]="form.get('productItem').invalid"
        (click)="next()">
      Next <i nz-icon nzType="right" nzTheme="outline"></i>
    </button>
    <button 
        *ngIf="step === CreateStockItemStep.STOCK_ITEM"
        nz-button 
        nzType="primary" 
        [disabled]="form.invalid" 
        (click)="onSubmit(form.value)">
      <i nz-icon nzType="check" nzTheme="outline"></i> Create
    </button>
    <button 
        nz-button 
        nzType="default" 
        (click)="onCloseModal()">
      <i nz-icon nzType="close" nzTheme="outline"></i> Close
    </button>
  </div>
</form>