<nz-card nzBordered="false" [@fadeAnimation]>
  <h1 class="password-reset-title">Reset Your Pasword</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <!-- Feedback Alert-->
    <nz-alert 
        *ngIf="(passwordResetResult$ | async)"
        [nzType]="(passwordResetResult$ | async).status" 
        [nzMessage]="(passwordResetResult$ | async).message" 
        nzShowIcon>
    </nz-alert>

    <!-- Password Input -->
    <nz-form-item>
      <nz-form-label nzSpan="24" nzFor="password">Password</nz-form-label>
      <nz-form-control nzSpan="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="passwordErrorTpl">
        <input nzSize="large" formControlName="password" nz-input name="password" type="password" id="password">
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            Password must be atleast 8 characters!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    
    <!-- Password Confirm Input -->
    <nz-form-item>
      <nz-form-label nzSpan="24" nzFor="passwordConfirm">Confirm Password</nz-form-label>
      <nz-form-control nzSpan="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="passwordConfirmErrorTpl">
        <input nzSize="large" formControlName="passwordConfirm" nz-input name="passwordConfirm" type="password" id="passwordConfirm">
        <ng-template #passwordConfirmErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            Password must be atleast 8 characters!
          </ng-container>
          <ng-container *ngIf="control.hasError('mustMatch')">
            Confirmation password must match password!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Submit Button -->
    <nz-form-item>
      <button 
          class="password-reset-form-button password-reset-form-margin"
          nz-button 
          nzType="primary" 
          nzSize="large" 
          [disabled]="form.invalid" 
          [nzLoading]="false">
        Request Password Reset
      </button>
    </nz-form-item>
  </form>
  <p class="password-reset-sign-on-link">Or <a [routerLink]="['/auth', 'login']">sign in!</a></p>
</nz-card>