nz-card {
  max-width: 500px;
  margin: auto;
  padding: 24px;
}

nz-form-label {
  padding-bottom: 0 !important;
}

nz-alert {
  margin-bottom: 24px;
}

.password-reset-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.password-reset-sign-on-link {
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 0.95rem;
  text-align: center;
}

.password-reset-form-button {
  width: 100%;
  margin-top: 1rem;
}

.password-reset-form-margin {
  margin-bottom: 16px;
}
