<nz-card class="stock-item-form" [formGroup]="form.get('stockItem')">
  <h2 style="font-weight: bold;">Stock item details</h2>
  <!-- Purchase Date Input -->
  <nz-form-item>
    <nz-form-label nzSpan="24" nzFor="purchaseDate" nzRequired>Purchase Date</nz-form-label>
    <nz-form-control nzSpan="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="purchaseDateErrorTpl">
      <input nzSize="large" formControlName="purchaseDate" nz-input name="purchaseDate" type="text" id="purchaseDate">
      <ng-template #purchaseDateErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a purchase date!
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          Invalid date format!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Purchase Price Input -->
  <nz-form-item nzRow>
    <nz-form-label nzSpan="24" nzFor="purchasePrice" nzRequired>Purchase Price</nz-form-label>
    <nz-form-control nzSpan="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="purchasePriceErrorTpl">
      <input nzSize="large" formControlName="purchasePrice" nz-input name="purchasePrice" type="text" id="purchasePrice">
      <ng-template #purchasePriceErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a purchase price!
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          Purchase price must be numerical! 
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Quantity Input -->
  <nz-form-item>
    <nz-form-label nzSpan="24" nzFor="quantity" nzRequired>Quantity</nz-form-label>
    <nz-form-control nzSpan="24" nzHasFeedback>
      <input nzSize="large" formControlName="quantity" nz-input name="quantity" type="text" id="quantity">
    </nz-form-control>
  </nz-form-item> 

  <!-- Item Condition Input -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="itemCondition" nzRequired>Item Condition</nz-form-label>
    <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Item condition is required">
      <nz-select formControlName="itemCondition" nzPlaceHolder="">
        <nz-option 
            *ngFor="let condition of itemConditions" 
            [nzValue]="condition" 
            [nzLabel]="condition.description">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- Stockroom Input -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="stockroom" nzRequired>Stockroom</nz-form-label>
    <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Stockroom is required">
      <nz-select formControlName="stockroom" nzPlaceHolder="" (ngModelChange)="onStockroomChange($event)">
        <nz-option 
            *ngFor="let stockroom of stockrooms" 
            [nzValue]="stockroom" 
            [nzLabel]="stockroom.name">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- Locaiton Select -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="location">Location</nz-form-label>
    <nz-form-control [nzSpan]="24" nzHasFeedback>
      <nz-select formControlName="location" [nzDisabled]="!form.get('stockItem').value.stockroom">
        <nz-option 
            *ngFor="let location of locations" 
            [nzValue]="location" 
            [nzLabel]="location.description">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</nz-card>

<!--
  purchaseDate
  purchasePrice
  quantity
  itemCondition
  stockroom
  location
-->