<nz-card nzBordered="false" [@fadeAnimation]>
  <h1 class="password-request-title">Forgot Your Password?</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <!-- Message Result Alert -->
    <nz-form-item *ngIf="(passwordRequestResetResult | async)">
      <nz-alert 
          nzType="success"
          [nzMessage]="(passwordRequestResetResult | async)?.message" 
          nzShowIcon>
      </nz-alert>
    </nz-form-item>

    <!-- Email Input -->
    <nz-form-item>
      <nz-form-control nzSpan="24" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon="mail" nzSize="large">
          <input type="text" nz-input formControlName="email" placeholder="Email Address" />
        </nz-input-group>
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your email!
          </ng-container>
          <ng-container *ngIf="control.hasError('email')">
            Invalid email format!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Submit Button -->
    <nz-form-item>
      <button 
          class="password-requst-form-button password-request-form-margin"
          nz-button 
          nzType="primary" 
          nzSize="large" 
          [disabled]="form.invalid" 
          [nzLoading]="false">
        Request Password Reset
      </button>
    </nz-form-item>
  </form>
  <p class="password-request-sign-on-link">Or <a [routerLink]="['/auth', 'login']">sign in!</a></p>
</nz-card>