<ng-container *ngIf="productItem; else noProductItemSelected">
  <nz-card  style="margin-top:16px;">
    <nz-list>
      <nz-list-item>
        <span nz-typography><strong>Title</strong></span>
        {{ productItem.title }}
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><strong>Description</strong></span>
        {{ productItem.description }}
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><strong>Sku</strong></span>
        {{ productItem.sku }}
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><strong>Make</strong></span>
        {{ productItem.make }}
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><strong>Model</strong></span>
        {{ productItem.model }}
      </nz-list-item>
      <nz-list-item>
        <span nz-typography><strong>Category</strong></span>
        {{ productItem.category.description}}
      </nz-list-item>
    </nz-list>
  </nz-card>
  <div class="product-item-deselection text-left" style="margin-left: 0.5rem;">
    <a (click)="deselectProductItem()">
      <i nz-icon nzType="close-square" style="font-size: 1rem;" nzTheme="outline"></i> Deselect
    </a>
  </div>
</ng-container>
<ng-template #noProductItemSelected>
  <nz-card nzType="inner" style="margin-top:16px;">
    <nz-empty
        nzNotFoundImage="simple"
        [nzNotFoundContent]="noProductItemSelectedContent">
      <ng-template #noProductItemSelectedContent>
        <span> No Product Item Selected </span>
      </ng-template>
    </nz-empty>
  </nz-card>
</ng-template>
