<div [formGroup]="form.get('account')">
  <nz-form-item>
    <nz-form-label nzSpan="24" nzFor="plan">Plan</nz-form-label>
    <nz-form-control nzSpan="24" nzValidatingTip="Validating..." [nzErrorTip]="planErrorTpl">
      <nz-radio-group formControlName="plan" nzButtonStyle="solid" nzSize="large">
        <ng-container *ngIf="plans">
          <label 
              *ngFor="let plan of plans"
              nz-radio-button
              [nzValue]="plan">
            {{ plan.name }}
          </label>
        </ng-container>
      </nz-radio-group>
      <ng-template #planErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please select a plan!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
</div>