.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-layout {
  background: #f0f2f5;
  position: relative;
  height: 100vh;
  width: 100vw;

  nz-content {
    nz-card {
      width: 350px;
      padding: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);

      form {
        nz-alert {
          margin-bottom: 24px;
        }
      }
    }
  }
}

