.login-layout {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .left-col,
  .right-col {
    flex: 1 1 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

  }

  .left-col {
    .login-marketing {
      max-width: 556px;
      padding: 3rem;
      margin: auto;

      h1 {
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 4rem;
      }
    }
  }

  .right-col {
    background: #756EEA !important;
    position: relative;

    h1.logo {
      font-family: 'Righteous';
      color: #FFF;
      font-size: 4rem;
    }

    nz-card {
      max-width: 350px;
      padding: 24px;
      margin: auto;

      form {
        nz-alert {
          margin-bottom: 24px;
        }
      }
    }
  }
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .login-layout {
    flex-direction: column;

    .left-col,
    .right-col {
      width: 100%;
    }

    .right-col {
      nz-card {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  .login-layout {
    .left-col {
      .login-marketing {
        h1 {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
    }
  }
}

