<div class="login-layout">
  <div class="left-col">
    <div class="login-marketing">
      <h1 class="text-bold">
        <i nz-icon nzType="area-chart" nzTheme="outline"></i><br />
        Your Resale <br /> 
        Management Made Easy
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    
  </div>
  <div class="right-col">
    <nz-card [nzBordered]="true">
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm(form.value)">
        <nz-alert *ngIf="authenticationState && authenticationState.errorMessage" nzType="error" [nzMessage]="authenticationState.errorMessage" nzShowIcon></nz-alert>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user" nzSize="large">
              <input type="text" nz-input formControlName="username" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock" nzSize="large">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="rememberMe">
              <span>Remember me</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot" [routerLink]="['../forgot-password']">Forgot password</a>
          </div>
        </div>
        <button nz-button nzType="primary" nzSize="large" [disabled]="form.invalid" class="login-form-button login-form-margin" [nzLoading]="false">Login</button>
        Or <a [routerLink]="['../register']"> register now! </a>
      </form>
    </nz-card>
  </div>
</div>
