<nz-card [nzBordered]="true" [@fadeAnimation]>
  <h1 class="login-title">Sign In</h1>
  <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm(form.value)">
    <!-- TODO Refactor these two alerts into one alert somehow? -->
    <nz-alert 
        *ngIf="authenticationState && authenticationState.errorMessage" 
        nzType="error" 
        [nzMessage]="authenticationState.errorMessage" 
        nzShowIcon>
    </nz-alert>
    <nz-alert 
        *ngIf="(queryParamMessage$ | async)"
        nzType="success" 
        [nzMessage]="(queryParamMessage$ | async)" 
        nzShowIcon>
    </nz-alert>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user" nzSize="large">
          <input type="text" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock" nzSize="large">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="rememberMe">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot" [routerLink]="['../password-request']">Forgot password</a>
      </div>
    </div>
    <button 
        class="login-form-button login-form-margin"
        nz-button 
        nzType="primary" 
        nzSize="large" 
        [disabled]="form.invalid" 
        [nzLoading]="false">
      Login
    </button>
    Or <a [routerLink]="['../register']"> register now! </a>
  </form>
</nz-card>
