nz-card {
  max-width: 350px;
  padding: 24px;
  margin: auto;

  .login-form {
    max-width: 300px;

    nz-alert {
      margin-bottom: 24px;
    }

    .login-form-margin {
      margin-bottom: 16px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }
  
  .login-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }
}
